```.gitignore
# Virtual environments
.venv/
venv/

# data
data_raw/
*.csv
*.xlsx
*.parquet

data_clean/
*.csv
*.xlsx
*.parquet

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Temp files
*.tmp
*.log
*.bak
~$*

# dbt 

```